<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>Box Helper - Panel</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="">

    <style>
        .alert {
            position: relative;
            padding: 7px;
            margin: 7px 0;
            border: 1px solid transparent;
            color: #004085;
            background-color: #cce5ff;
            border-color: #b8daff;
            border-radius: 5px;
        }
        .header {
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("{{ url_for('static', filename='header-background.jpg') }}") center center no-repeat;
            background-size: cover;
        }

    </style>

</head>
<body data-spy="scroll" data-target=".fixed-top">

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <a class="navbar-brand logo-text page-scroll" href="/">Box Helper</a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/rss">RSS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/panel">PANEL <span class="sr-only">(current)</span></a>
            </li>

        </ul>

    </div>
</nav> <!-- end of navbar -->
<!-- end of navbar -->



<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>Box Helper Panel</h1>
                        {% for message in get_flashed_messages() %}
                        <div class="alert modal-content">{{ message }}</div>
                        {% endfor %}
                        <form name='form' method='post' id="form">
                            <a class="btn-solid-lg page-scroll" href="javascript:post('/start')" id="start">Start</a>
                            <a class="btn-solid-lg page-scroll" href="javascript:post('/stop')" id="stop">Stop</a>
                            <a class="btn-solid-lg page-scroll" href="javascript:post('/status')" id="status">Status</a>
                            <a class="btn-solid-lg page-scroll" style="background-color: #dc3545; border:0.125rem solid #dc3545"  href="javascript:post('/truncate')" id="clear">Truncate</a>
                        </form>

                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->

<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-container about">
                    <h4>Box Helper</h4>
                    <p class="white">Box Helper try hard to help you and your box</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>Links</h4>
                    <ul class="list-unstyled li-space-lg white">
                        <li>
                            <a class="white" href="">boxhelper.app</a>
                        </li>
                        <li>
                            <a class="white" href="">github</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2020 <a href="">Box Helper</a> - All rights reserved</p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->


<!-- Scripts -->
<script type="text/javascript">
    function post(path){
        $("#form").attr("action",path);
        $("#form").submit();
    }
</script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> <!-- Bootstrap framework -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script> <!-- Custom scripts -->
</body>
</html>
